header{
    height: 80px;
    margin: 0 auto;
}

.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    border: 3px solid red;
}

body{
    overflow: hidden;
}

.bubble-btn{
    background-color: aqua;
}

.restart-btn {
    background-color: crimson;
}

.shell-btn{
    background-color: darkolivegreen;
}

.insertion-btn{
    background-color: coral;
}

.selection-btn {
    background-color: deeppink;
}

.visual-type{
    background-color: blueviolet;
}

.restart-btn,
.shell-btn,
.insertion-btn,
.selection-btn,
.visual-type {
    color: white;
}

.bars{
    transform: rotate(180deg);
    transform-origin: center;
}
